# dependencies
node_modules/

# build
dist/
.astro/

# env
.env
.env.production

# database
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

# user uploads
public/uploads/avatars/*
!public/uploads/avatars/.gitkeep

# logs & OS
*.log
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
